html,
body {
    height: 100%;
}

body {
    background-color: #EBF0DF;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: "Montserrat", serif;
}

header h1, h2, h3 {
    margin-top: 20px;
    font-weight: 700;
    color: #334455;
}

.container, .container-boxed, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em
}

@media (min-width: 768px) {
    .container-boxed {
        width: 96.2%
    }
}

@media (min-width: 992px) {
    .container-boxed {
        width: 97%
    }
}

@media (min-width: 1200px) {
    .container-boxed {
        width: 97%
    }
}

.container-boxed.max {
    max-width: 1200px
}

.container-boxed.offset {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto
}

@media (max-width: 767px) {
    .container-boxed {
        width: 100%
    }

    .container-boxed.max {
        max-width: 100%
    }

    .container-boxed.offset {
        padding-top: 0;
        padding-bottom: 0;
        margin: 40px auto
    }
}

.container-fullwidth {
    overflow: hidden;
    width: 100%
}

@media (min-width: 800px) and (max-width: 991px) {
    .container-boxed {
        width: 97%
    }

    .noo-main {
        float: left;
        width: 66.666666666667%
    }

    .col-md-12.noo-main {
        width: inherit;
        float: none
    }

    .noo-sidebar {
        float: left;
        width: 33.333333333333%
    }
}

.site-header {
    position: sticky;
    top: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    z-index: 1071;
    background-color: #EBF0DF;
}

.site-header nav {
    color: #FFFFFF;
    background-color: #1c262b;
    font-weight: 700;
}

.navbar-brand .logo-img {
    width: 60px;
    height: 60px;
    top: 50%;
    position: relative;
    vertical-align: middle
}

.main-content {
    background-color: #7DB376;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/main-search.png");
    height: 500px;
    z-index: 99;
    padding-top: 30px;
}

.search-content {
    background-color: #7DB376;
    height: 100px;
    z-index: 99;
    padding-top: 15px;
}

.heading-content {
    background-color: #7DB376;
    height: 100px;
    z-index: 99;
    padding-top: 15px;
}

.search-box {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
}

.search-form {
    background: rgba(255, 255, 255, .35);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1em;
    width: 100%;
    align-self: center;
}

.job-title {
    position: relative;
    padding: 2em;
    width: 100%;
}

.job-row {
    position: relative;
    padding: 2em;
    width: 100%;
    display: table;
}

.job-row:nth-child(2n+1) {
    background: rgba(255, 255, 255, .35);
}

.job-row .loop-item-wrap .item-featured {
    overflow: hidden;
    float: left;
    width: 10%;
    min-width: 70px;
    display: table-cell;
}

.job-row .loop-item-wrap .item-featured img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.job-row .loop-item-wrap .loop-item-content {
    width: 60%;
    float: left;
    display: table-cell;
    background: 0 0;
}

.job-row .loop-item-wrap .loop-item-content .loop-item-title {
    color: #44494b;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.job-row .loop-item-wrap .loop-item-content .content-meta {
    display: inline-table;
    font-style: italic;
    font-size: 14px;
    color: #44494b;
}

.job-row .loop-item-wrap .loop-item-content .content-meta > span {
    padding-right: 1em;
}

.job-row .loop-item-wrap .show-view-more {
    float: right;
}

.site-info .footer-more {
    padding: 30px 0;
    background: #1c262b;
    color: #7DB376;
}

.site-info .footer-more .noo-bottom-bar-content {
    text-align: center;
}

.btn-loadmore {
    font-weight: 700;
    color: #EBF0DF;
    background-color: #44494b;
    border-color: #EBEEEF;
}

.page-heading .page-title {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.page-heading .page-sub-heading-info {
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
    margin-top: .8em;
}

.job-card {
    background-color: rgba(0, 0, 0, .03);
}

.job-desc {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.87);
    text-align: initial;
    white-space: pre-line;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.company-desc {
    padding: 2em;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.company-header {
    width: 100%;
    display: table-cell;
}

.company-header .company-featured {
    width: 50%;
    float: left;
    overflow: hidden;
    padding-right: 20px;
    padding-bottom: 2em;
}

.company-header .company-featured img {
    width: 110px;
    height: auto;
    overflow: hidden;
    float: left;
    border-radius: 50%;
}

.company-header .company-title {
    font-size: 18px;
    width: 50%;
    float: left;
}

.company-desc .company-info {
    font-size: 14px;
}

.company-desc .job-social {
    padding: 2em 0;
}

.job-social a.company_website {
    width: 100%;
    display: block;
    margin: 1em 0 0;
    color: #7DB376;
    padding: 0;
}

.job-social a.icon {
    background-color: #1c262b;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    margin: 1em 5px 0 0;
}

.form-body {
    background-color: rgba(0, 0, 0, .03);
    padding: 50px;
    font-size: 14px;
}

.bottom-line {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 2em;
}

.member-manage-table {
    overflow: auto;
}

.table {
    width: 100%;
    margin-bottom: 1.6em;
}

.table, label {
    max-width: 100%;
}

.table thead {
    background-color: #2e2e2e;
    color: #EBF0DF;
}

.table tbody tr:nth-child(2n+1) {
    background: rgba(255, 255, 255, .35);
}

.member-manage-table .table thead th {
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    vertical-align: middle;
}

.job-application-status {
    background: #ee5b4c;
}

.table a:hover {
    text-decoration: none;
    color: #7DB376;
}

.job-application-status {
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 4px;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.member-manage-table .member-manage-action {
    font-size: 1em;
    display: inline-block;
    margin: 0 5px;
}

.member-manage-table .member-manage-action .fa-trash-alt {
    color: #d9534f;
}

.job-package {
    /*padding: 50px;*/
}

.pricing-table {

}

.pricing-table, .row {
    /*margin-left: -1.0714285714286em;*/
    /*margin-right: -1.0714285714286em*/
}

.pricing-4-col .pricing-column {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 1.0714285714285714em;
    padding-right: 1.0714285714285714em;
    margin-bottom: 20px;
}

.pricing-table .pricing-column .pricing-content {
    background: #FFFFFF;
    border-radius: 4px;
    border: #7DB376 solid 1px;
    box-sizing: border-box;
    color: #44494b;
    display: block;
}

.pricing-table .pricing-column .pricing-content .pricing-header {
    padding: .42857142857142855em .8571428571428571em;
}

.pricing-table .pricing-column .pricing-content .pricing-info {
    padding: 1em 0;
}

.pricing-table .pricing-column .pricing-content .pricing-footer {
    border-top: none;
    padding: .42857142857142855em .8571428571428571em 2.142857142857143em;
    text-align: center;
}

.pricing-header .pricing-value .package-price {
    border-color: #7DB376;
}

.pricing-table .pricing-column .pricing-content .pricing-header .pricing-title,
.pricing-table .pricing-column .pricing-content .pricing-header .pricing-value {
    text-align: center;
}



.pricing-table .pricing-column .pricing-content .pricing-header .pricing-value .price {
    font-size: 1em;
    font-weight: 400;
    background: #2e2e2e;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 150px;
    line-height: 140px;
    width: 150px;
    border: 5px solid #7DB376;
}